@model UserModel
@*
<h3>User Details</h3>
<hr />
<div><p>@Model.Name</p></div>
<div><p>@Model.Description</p></div>
<a asp-action="ChangePassword" asp-controller="User" asp-route-id="@Model.Id" class="btn btn-dark">Change Password</a>
 *@
<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">User Details</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="card border-primary mb-3" style="max-width: 40rem;">
            <div class="card-header">@Model.Name</div>
            <div class="card-body">                
                <p class="card-text">@Model.Description</p>
            </div>
        </div>        
        <div class="row pt-2">          
            <div class="col-4 col-md-3">
                <a asp-controller="User" asp-action="Index" class="btn btn-outline-dark border form-control">Back to List</a>
            </div>
        </div>
    </div>
</div>

@* <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Name</td>
                    <td>@Model.Description</td>
                </tr>
            </tbody>
        </table> *@