@model List<UserModel>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Users</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-4">

            @foreach (var user in Model)
            {
                <div class="col-sm-3">
                    <div class="card border-primary mb-3" style="max-width: 10rem;">
                        <div class="card-body">
                            <h4 class="card-title text-center">@user.Name</h4>
                            <div class="btn-group-sm" role="group">
                                <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id" class="btn btn-light mx-2">
                                    <i class="bi bi-question-lg"></i> Details
                                </a>
                            </div>
                            <div class="btn-group-sm" role="group">
                                <a asp-controller="User" asp-action="CreateEdit" asp-route-id="@user.Id" class="btn btn-outline-dark border mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                            </div>
                            <div class="btn-group-sm" role="group">
                                <a data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="@user.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        @* <table class="table">
        <thead>
        <tr>
        <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
        <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
        <h4 class="card-title text-center">@user.Name</h4>
        <div class="btn-group" role="group">
        <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id" class="btn btn-light mx-2">
        <i class="bi bi-question-lg"></i> Details
        </a>
        </div>
        <div class="btn-group" role="group">
        <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-light mx-2">
        <i class="bi bi-pencil-square"></i> Edit
        </a>
        </div>
        </div>
        </div>
        <tr>
        <td>@user.Name</td>
        <td>
        <div class="btn-group" role="group">
        <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id" class="btn btn-light mx-2">
        <i class="bi bi-question-lg"></i> Details
        </a>
        </div>
        <div class="btn-group" role="group">
        <a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-light mx-2">
        <i class="bi bi-pencil-square"></i> Edit
        </a>
        </div>
        </td>
        </tr>
        }
        </tbody>
        </table> *@
    </div>
</div>

<partial name="/Views/Shared/_DeleteModal.cshtml" />

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            var deleteModal = document.getElementById('deleteModal');
            deleteModal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;

                // Extract info from data-bs-* attributes
                var id = $(button).attr('data-bs-id');

                $('#modalId').val(id);
            });
        });

        function deleteObj() {
            var id = $('#modalId').val();
            $.ajax({
                url: '@Url.Action("Delete")/' + id,
                type: 'DELETE',
                success: function (result) {
                    window.location = '/User';
                }
            });
        }
    </script>
}
