@model List<ProductModel>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Products</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row">
            <div class="col-12 text-end">
                <a asp-controller="Product" asp-action="CreateEdit" class="btn btn-light">
                    <i class="bi bi-plus-circle"></i> Create new Product
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Category</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-light mx-2">
                                    <i class="bi bi-question-lg"></i> Details
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="Product" asp-action="CreateEdit" asp-route-id="@product.Id" class="btn btn-light mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-id="@product.Id" class="btn btn-light mx-2">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@product.Id" class="btn btn-light mx-2">
                                    <i class="bi bi-bag-plus"></i> Add to cart
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <input id="modalId" hidden />
                <p>You won't be able to revert this!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="deleteProduct()">Yes, delete it!</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        debugger;
        $(document).ready(function () {
            var deleteModal = document.getElementById('deleteModal');
            deleteModal.addEventListener('show.bs.modal', function (event) {
                // Button that triggered the modal
                var button = event.relatedTarget;

                // Extract info from data-bs-* attributes
                var id = $(button).attr('data-bs-id');

                $('#modalId').val(id);
            });
        });

        function deleteProduct(){
            var id = $('#modalId').val();
    debugger;
            $.ajax({
                url: '@Url.Action("Delete")/' + id,
                type: 'DELETE',
                success: function (result) {
                    window.location = '/Product';
                }
            });
        }
    </script>
}