@using LarsProjekt.Models.ViewModels
@using LarsProjekt.Controllers
@model OrderConfirmationVM


<br />
<div class="container">
    <div class="card shadow border-0">
        <div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
            <div class="row px-4">
                <div class="col-6">
                    <h5 class="pt-2 text-white">
                        Order confirmation
                    </h5>
                </div>
                <div class="col-6 text-end">
                    <a asp-controller="ShoppingCart" asp-action="Index" class="btn btn-outline-dark btn-sm">Back to Cart</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <form asp-action="CreateOrder" asp-controller="Order" method="post">
                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Order Summary:</span>
                            </h4>
                            <ul class="list-group mb-3">
                                @foreach (var item in Model.Items)
                                {

                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@item.Product.Name</h6>
                                            <small class="text-muted">Quantity: @item.Amount</small>
                                        </div>
                                        <span class="text-muted">@((item.Product.PriceOffer * item.Amount).ToString("c"))</span>
                                    </li>
                                }

                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small class="text-info">Total (EUR)</small>
                                    <strong id="Total" class="text-info">
                                        @Model.Total?.ToString("c")
                                    </strong>
                                </li>
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <button type="submit" class="btn btn-primary form-control">Place Order</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                    <div class="col-12 col-lg-5 offset-lg-1">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-info">
                                Do you have a voucher?
                                <br />
                                Enter it here:
                            </span>
                        </h4>

                        <div class="row my-1">
                            <div class="col-12">
                                <input id="UserInput" class="form-control" />
                                @* <span class="text-danger"></span> *@
                            </div>
                        </div><div class="row my-1">
                            <div class="col-12">
                                <button id="Redeem" class="btn btn-outline-primary form-control">Redeem</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-8 pt-2">
                    <p style="color:maroon; font-size:14px;">
                        Estimate Arrival Date:
                        @DateTime.Now.AddDays(3).ToShortDateString() - @DateTime.Now.AddDays(5).ToShortDateString()
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Redeem').click(function () {                
                var text = $('#UserInput').val();
                sendForm(text);
            });
            
        });

        function sendForm(text) {
            var data = { couponCode: text }
            $.ajax({                
                url: '@Url.Action(nameof(OrderController.Redeem), typeof(OrderController).GetControllerName())',
                type: 'POST',
                data: data,
                success: function (data) {
                    $('#Total').text(data.total);
                    //window.location = '/Confirmation';
                }
            });
            debugger
        };

        // function updatePrice() {
        //     $.ajax({
        //         url: '@Url.Action("Redeem")',
        //         type: 'GET',
        //         data: data,
        //         success: function (data) {
        //             document.getElementById('Total').innerText(data.newPrice)                    
        //         }
        //     });
        //     debugger
        // }
    </script>
}

